<div class="container">
    <mat-toolbar color="primary">
        <span><a [routerLink]="['/home']">Smart Organizer</a></span>
    </mat-toolbar>

    <mat-tab-group backgroundColor="primary" [selectedIndex]="activeTabIndex" (selectedTabChange)="tabChanged($event)">
        <mat-tab>
            <ng-template mat-tab-label><a [routerLink]="['/home']">Home</a></ng-template>
            <!-- content -->
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label><a [routerLink]="['/appointment']">Appointment</a></ng-template>
            <!-- content -->
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label><a [routerLink]="['/calendar']">Calendar</a></ng-template>
        </mat-tab>
    </mat-tab-group>
    <router-outlet></router-outlet>
</div>