<div>
    <mdl-layout mdl-layout-fixed-header mdl-layout-tab-active-index="0">
        <mdl-layout-header>
            <mdl-layout-header-row>
                <mdl-layout-title>Smart Organizer</mdl-layout-title>
            </mdl-layout-header-row>
        </mdl-layout-header>
        <mdl-layout-drawer>
            <mdl-layout-title>Smart Organizer</mdl-layout-title>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link">Home</a>
                <a class="mdl-navigation__link">Appointment</a>
                <a class="mdl-navigation__link">Statistics</a>
            </nav>
        </mdl-layout-drawer>
        <mdl-layout-content>
            <mdl-layout-tab-panel mdl-layout-tab-panel-title="Home">
                Home
            </mdl-layout-tab-panel>
            <mdl-layout-tab-panel mdl-layout-tab-panel-title="Appointment">
                <appointment-list></appointment-list>
                <router-outlet></router-outlet>
            </mdl-layout-tab-panel>
            <mdl-layout-tab-panel mdl-layout-tab-panel-title="Statistics">
                Statistics
            </mdl-layout-tab-panel>
        </mdl-layout-content>
    </mdl-layout>
</div>
