<div *ngIf="appointment">
    <div>
        <table class="table table-bordered table-responsive table-condensed">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Location</td>
                    <td>Start Date</td>
                    <td>Duration</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.title }}</td>
                    <td>{{ appointment.description }}</td>
                    <td>{{ appointment.location }}</td>
                    <td>{{ appointment.startDate }}</td>
                    <td>{{ appointment.duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
